.node_modules
node_modules
next
.next
.env
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local
public/images/projects/*

.package-lock.json
mongodb_data
redis_data